* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

body,
html {
    background: #f8f9fa !important;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 12vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.padding_nav{
    padding-top: 100px;
}

